<table class="table">
  <thead>
    <tr>
      <th scope="col"><strong>Title:</strong></th>
      <th scope="col"><strong>Created by:</strong></th>
      <th scope="col">Body:</th>

    </tr>
  </thead>
  <tbody>
      <tr>

        <td><%= article.title %></td>
        <td><%= article.user.username %></td>
        <td><%= article.body %></td>
      </tr>

    </tbody>
</table>
